- reason = Reason.find_by_reason reason
- if reason && reason.details.present?
  = select_tag "balance[detail_reason]", options_for_select(reason.details.split(",")), :class => "input-small"
- else
  = select_tag "balance[detail_reason]", options_for_select([]), :class => "input-small"

