%legend 
  收入类型
  %span.pull-right
    = link_to icon_link(:plus) + "  新类型", new_admin_reason_path

%table.table.table-stripped
  %thead
    %th 类型
    %th

  - @reasons.each do |reason|
    %tr
      %td= reason.reason
      %td
        = link_to icon_link(:search), edit_admin_reason_path(reason)
        = link_to icon_link(:trash), admin_reason_path(reason), :confirm => "此操作会删除支出类型， 确认继续？", :method => :delete

