<div class="border-form-div">
  <h3>登陆到<%= Setting.site_name %></h3>

  <% if flash[:alert] %>

    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <%= flash[:alert] %>

  </div>
<% end %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <table id="login" class="form">
		<tbody><tr>
			<th style="height:auto;"></th>
			<td></td>
		</tr>
		<tr>
			<th>邮箱:</th><td class="l_input"><input id="user_email" name="user[login]" size="30" type="text" value="" class=""><span id="user_emailTip" class="onError"></span></td>
		</tr>
		<tr>
			<th>密码:</th><td class="l_input"><input id="user_password" name="user[password]" size="30" type="password" class=""><span id="user_passwordTip" class="onError"></span></td>
		</tr>
		<tr><th></th>
			<td>
				<input type="submit" value="登&nbsp;录" name="commit" id="user_submit" class="reglogin_btn">
			</td>
		</tr>

	</tbody></table>
<% end %>

</div>
