/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require bootstrap-select
 *= require styles
 */


.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 90%;
}

#body {
  min-height: 600px;
  margin-top: 15px;
}

.navbar{
  background-image: "/images/nav_bg.png";
}

#header .nav li a{
  color: white;
}

.message_title_red a{
  color: red;
}

/* project jumaimai login*/
#loginbox {
	float: left; 
	width: 958px; 
	padding: 0 0 60px 0;
	border: solid 1px #e2e2e2;
}
#login_header {
	float: left; 
	width: 100%; 
	line-height: 40px; 
	border-bottom: solid 2px #e2e2e2; 
	color: #999999;
}
#login_header th {
	border-bottom: solid 2px #BE110D; 
	text-align: center; 
	width: 140px;
}
#login_header td {
	padding: 10px 0 0px 0;
}
#login {
	float: left; 
	width: 550px;
	height: auto;
	margin: 40px 10px 0px 50px; 
	line-height: 50px;
}
#login th {
	color: #666666; 
	font-size: 14px; 
	line-height: 18px; 
	padding-right: 10px; 
	height: 50px; 
	width: 80px; 
	vertical-align: middle; 
	text-align: right; 
	font-weight: normal;
}
.on_input {
	background: #FAFAFA; 
	border: solid 1px #BBB; 
	color: #000; 
	outline: solid 2px #e2e2e2;
}
.l_input input {
	border: 1px solid #C5C5C5; 
	color: #333333; 
	font-family: Arial,Helvetica,sans-serif,"宋体"; 
	margin: 0 5px 0 0; 
	padding-left: 4px; 
	vertical-align: middle; 
	font-size: 18px; 
	height: 28px; 
	line-height: 28px; 
	width: 290px;
}
#mycode {
	width: 100px;
}
#captcha_img img {
	vertical-align: middle;
}
.reglogin_btn {
	background: url("/images/reglogin_btn.gif") no-repeat scroll 0 0 transparent; 
	border: medium none; 
	color: #FFFFFF; 
	cursor: pointer; 
	font-size: 14px; 
	font-weight: bold; 
	height: 35px; 
	line-height: 35px; 
	text-align: center; 
	width: 96px;
}
#login_right {
	float: left; 
	width: 220px; 
	height: 180px; 
	padding: 5px 0 20px 45px; 
	border-left: dashed 1px #E7E7E7; 
	margin: 40px 0 0 0; 
	line-height: 20px;
}
.sidebtn {
	background: url("/images/rightbtn.gif") no-repeat scroll 0 0 transparent; 
	display: block; 
	height: 28px; 
	margin: 5px 0 10px 0; 
	padding: 5px 3px 0 5px; 
	text-align: center; 
	width: 92px;
}
.errorExplanation{
	float: left;
	width: 100%;
	line-height: 24px;
}
